/* ============================================================================================================================
== OVAL THOUGHT BUBBLE (more CSS3)
** ============================================================================================================================

.oval-thought {
  background-image: url('img/speechBubble.png');
  width:600px;
  height:50px;
}*/


.image {
   position: relative;
   width: 80%; /* for IE 6 */
   margin: auto;
}

.oval-thought {
   position: absolute;
   top: 0px;
   margin-top: 10px;
   margin-bottom:10px;
   width: 100%;
   padding: 10px;
}
